<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">注册</h1>
            <form action="" id="myform">
                {% csrf_token %}
                {% for form in form_obj %}
                    <div class="form-group">
{#                    直接拿到input框的id值#}
                        <label for="{{ form.auto_id }}">{{ form.label }}</label>
                        {{ form }}
{#{{ form.errors.0 }}#}
                        <span style="color: red" class="pull-right"> </span>
                    </div>
                {% endfor %}
                <div class="from-group">
                    <label for="myfile">头像
                        {% load static %}
                        <img  alt="" src="{% static 'img/default.jpg' %}" id="myimg" width="100" style="margin-left: 10px" >
                    </label>
                    <input type="file" id="myfile" name="avatar" style="display: none">
                </div>
                <input type="button" class="btn btn-primary pull-right" value="注册" id="id_commit">
            </form>
        </div>
    </div>
</div>
</body>
<script>
    $('#myfile').change(function () {
        //文件阅读器
        //1.先生成一个文件阅读器对象
        let myFileReaderObj = new FileReader();
        //2.获取用户上传信息
        let fileObj = $(this)[0].files[0];
        //3.将文件对象交给阅读器对象读取
        myFileReaderObj.readAsDataURL(fileObj); //异步操作 图片未读取完毕，代码执行到下一步
        //4.利用文件阅读器将文件展示到前端页面 修改src属性
        // 等待文件阅读器加载完毕之后再执行
        myFileReaderObj.onload = function(){
            $('#myimg').attr('src', myFileReaderObj.result)
        }
    });
    //发送ajax请求  发送的时候包含普通的键值对也包含文件对象
    $('#id_commit').click(function () {
        let formDataObj = new FormData();
        //1.添加普通的键值对
        $.each($('#myform').serializeArray(),function (index, obj) {
        formDataObj.append(obj.name, obj.value)
        });
        // 添加文件对象
        formDataObj.append('avatar', $('#myfile')[0].files[0]);
        //3.发送ajax请求
        $.ajax({
            url: "",
            type: "post",
            data: formDataObj,
            contentType: false,
            processData: false,
            success:function (args) {
                if (args.code==1000){
                    //跳转到登录页面
                    window.location.href = args.url
                }
                else {
                    //如何将错误的信息展示到对应的input框
                    //forms组件渲染的标签都是id_字段名
                    $.each(args.msg,function (index, obj) {
                        // console.log(index,obj)  //username ["用户名不能为空"]
                        let targetId = '#id_' + index;
                        //添加拼接之后的文本
                        $(targetId).next().text(obj[0]).parent().addClass('has-error')
                    })
                }
            }
        })
    })
    //给所有的input绑定获取焦点事件
    $('input').focus(function () {
        //修改 input下面的span和input外面的div标签修改内容及属性
        $(this).next().text('').parent().removeClass('has-error')
    })
</script>
</html>